<% provide(:title, 'Home') %>

	<h2>Home</h2>
	<h2>Web Design</h2>
	<h2>Blog</h2>
	<h2>Music</h2>
	<h2>About Me</h2>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, molestiae, maiores, eius voluptatum dicta corporis consequatur doloremque quod earum atque unde veritatis aspernatur laborum quo incidunt corrupti magnam pariatur reiciendis.
</p>
