/*@import "compass";*/


header {
	height: 5em;
	width: 100%;
	background: blue;
	text-align: center;
}

.banner {
	/*margin-left: 2em;*/
}

.menu-button {
	margin-top: .75em;
	padding: 1.5em;
}







/*------- Hide mobile menu on desktops -------*/

@media all and (min-width: 480px) {
	#menu {
		background: #eee;
	}
	#page {
		border-left: 1px solid #ccc;
	}
	/* hide open-button */
/*	a[href="#menu"]
	{
		display: none !important;
	*/}
}

