@import "variables";


/* -------------------------------------------------------------------------- */
/* ------------------------------ TYPOGRAPHY -------------------------------- */
/* -------------------------------------------------------------------------- */

h1 {
	font-family: Arial, Helvetica, sans-serif;
	// color:     darken($white, 15%);
	color: rgba( 255, 255, 255, 0.6 );
	font-size: 16px;
	line-height: 48px;
	text-shadow: 0 1px 2px rgba( 0, 0, 0, 0.4 );
	// margin:    .1em 0 0 0;
	// position: relative;
	// left: 15px;
}





/* -------------------------------------------------------------------------- */
/* -------------------------------- HEADER ---------------------------------- */
/* -------------------------------------------------------------------------- */

header {
	// background:    $dark-blue;
		background: #333;

	// height:        3em;
	margin-bottom: 1em;
	position:      fixed;
	// text-align:    center;
	top:           0;
	width:         100%;
	z-index:       100;

	-webkit-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
		 -moz-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
		      transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;

}

#home-link, #banner, h1  {

	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	// color:     darken($white, 15%);
	color: rgba( 255, 255, 255, 0.6 );
	font-size: 32px;
	line-height: 48px;
	text-shadow: 0 1px 2px rgba( 0, 0, 0, 0.4 );
	// background: rgba(0, 0, 0, 0.2);

}

#banner {
	position: fixed;
	top: 0;
	left: 52px;
	// left: 44.8px;
}


#home-link {
	border-bottom: 2px solid rgba(255, 255, 255, .4);
}

#hamburger  {
	float: left;
	z-index:101;
	// font-size: 2em;
	line-height: 1.4em;
	position: relative;
	// left: -3px;
	top: -0.09em;
	width: 2.1em;
	color: rgba(255, 255, 255, 0.6);
	font-size: 1.5em;
	line-height: 48px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	padding-left: 17px;
}


html.mmenu-opened header {
	left: 0%;
	margin-left: 0px;
}
html.mmenu-opening header {
	left: 100%;
	margin-left: -65px;
}
@media all and (min-width: 500px) {
	html.mmenu-opening header
	{
		left: 500px;
	}
}





/* -------------------------------------------------------------------------- */
/* -------------------------------- FOOTER ---------------------------------- */
/* -------------------------------------------------------------------------- */

footer {
	padding-top: 1em;
	color:      white;
	background: $dark-blue;
	margin-top: 1em;
}

#copyright {
	background: #444;
	width: 100%;
	text-align: center;
	clear: both;
	p {
		margin-bottom: 0;
	}
}

