@import "variables";


/* -------------------------------------------------------------------------- */
/* ------------------------------ TYPOGRAPHY -------------------------------- */
/* -------------------------------------------------------------------------- */

h1 {
	font-family: Arial, Helvetica, sans-serif;
	// color:     darken($white, 15%);
	color: rgba( 255, 255, 255, 0.6 );
	font-size: 16px;
	line-height: 48px;
	text-shadow: 0 1px 2px rgba( 0, 0, 0, 0.4 );
	// margin:    .1em 0 0 0;
	// position: relative;
	// left: 15px;
}

.livicon {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  height: 0px!important;
  padding: 0;
  position: relative;
  left: 10px;
  top: 4px;
  float: left;
}


@font-face {
	font-family: 'Aleo-Bold';
	src: font-url('Aleo-Bold.eot');
	src: font-url('Aleo-Bold.svg')  format('svg'),
		   font-url('Aleo-Bold.woff') format('woff'),
	   	 font-url('Aleo-Bold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aleo-BoldItalic';
	src: font-url('Aleo-BoldItalic.eot');
	src: font-url('Aleo-BoldItalic.svg')  format('svg'),
		   font-url('Aleo-BoldItalic.woff') format('woff'),
	   	 font-url('Aleo-BoldItalic.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aleo-Italic';
	src: font-url('Aleo-Italic.eot');
	src: font-url('Aleo-Italic.svg')  format('svg'),
		   font-url('Aleo-Italic.woff') format('woff'),
	   	 font-url('Aleo-Italic.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aleo-Light';
	src: font-url('Aleo-Light.eot');
	src: font-url('Aleo-Light.svg')  format('svg'),
		   font-url('Aleo-Light.woff') format('woff'),
	   	 font-url('Aleo-Light.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aleo-LightItalic';
	src: font-url('Aleo-LightItalic.eot');
	src: font-url('Aleo-LightItalic.svg')  format('svg'),
		   font-url('Aleo-LightItalic.woff') format('woff'),
	   	 font-url('Aleo-LightItalic.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aleo-Regular';
	src: font-url('Aleo-Regular.eot');
	src: font-url('Aleo-Regular.svg')  format('svg'),
		   font-url('Aleo-Regular.woff') format('woff'),
	   	 font-url('Aleo-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

h2 {
	font-family: 'Aleo-Bold', Helvetica, Arial, sans-serif;
}

p {
	font-family: 'Aleo-Regular', Helvetica, Arial, sans-serif;
}

.mmenu a {
	font-family: 'Aleo-Light', Helvetica, Arial, sans-serif;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------- HEADER ---------------------------------- */
/* -------------------------------------------------------------------------- */

header {
	// background:    $dark-blue;
		background: #333;

	// height:        3em;
	margin-bottom: 1em;
	position:      fixed;
	// text-align:    center;
	top:           0;
	width:         100%;
	z-index:       100;

	-webkit-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
		 -moz-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
		      transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;

}

#home-link, #banner, h1  {

	font-family: 'Aleo-Light', Helvetica, Arial, sans-serif;
	font-weight: 400;
	// color:     darken($white, 15%);
	color: rgba( 255, 255, 255, 0.6 );
	font-size: 32px;
	line-height: 48px;
	text-shadow: 0 1px 2px rgba( 0, 0, 0, 0.4 );
	// background: rgba(0, 0, 0, 0.2);

}

#banner {
	position: fixed;
	top: 0;
	left: 52px;
	// left: 44.8px;
}


#home-link {
	border-bottom: 2px solid rgba(255, 255, 255, .4);
}

#hamburger  {
	float: left;
	z-index:101;
	// font-size: 2em;
	line-height: 1.4em;
	position: relative;
	// left: -3px;
	top: -0.05em;
	width: 2.1em;
	color: rgba(255, 255, 255, 0.6);
	font-size: 1.5em;
	line-height: 48px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	padding-left: 17px;
}


html.mmenu-opened header {
	left: 0%;
	margin-left: 0px;
}
html.mmenu-opening header {
	left: 100%;
	margin-left: -65px;
}
@media all and (min-width: 500px) {
	html.mmenu-opening header
	{
		left: 500px;
	}
}





/* -------------------------------------------------------------------------- */
/* -------------------------------- FOOTER ---------------------------------- */
/* -------------------------------------------------------------------------- */

footer {
	font-size: .8em;
	padding-top: 1em;
	color:      white;
	background: $dark-blue;
	margin-top: 1em;
	p {
			font-family: 'Aleo-Light', Helvetica, Arial, sans-serif;
	}
}

#copyright {
	background: #444;
	width: 100%;
	text-align: center;
	clear: both;
	p {
		margin-bottom: 0;
	}
}

