<footer>
  <div class="row">
    <div class="large-4 columns">
      <ul>
        <li>Web Design</li>
        <li>Blog</li>
        <li>Music</li>
        <li>About</li>
      </ul>
    </div>
    <div class="large-4 columns">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, voluptate, suscipit architecto animi consequuntur ea cupiditate dolores sit vel excepturi quis quidem eveniet magnam tempore in! Similique expedita officiis placeat.
    </div>
    <div class="large-4 columns">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quo consequuntur modi deleniti ad? Iste earum sit dignissimos nobis est perspiciatis amet! Earum, incidunt rem repellendus dignissimos. Ut, corporis, quam.
    </div>
  </div>

  <div id="copyright">
    <p>
      © 2013 DMITRIY MARKUS. ALL RIGHTS RESERVED.
    </p>
  </div>
</footer>

