<header>
  <div class="row">
	  <div class="small-2 columns">
	    <a href="#menu" class="menu-button button"></a>
	  </div>
	  <div class="small-10 small-centered columns">
	    <h1 class="banner"><%= link_to "Dima Markus", root_path %></h1>
	  </div>
  </div>
</header>

