<!-- <header>
  <div class="row">
	  <div class="small-2 columns" id="hamburger">
	    <a href="#menu">&#9776;</a>
	  </div>
	  <div class="small-10 small-centered columns">
	    <h1 class="banner"><%= link_to "Dima Markus", root_path %></h1>
	  </div>
  </div>
</header> -->

<header>
	<a href="#menu" id="hamburger">&#9776;</a>
	<a href="" id="banner">Dima Markus</a>
</header>